.spot
{
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 130px;
    padding-left: 30px;
    height: 70px;
    width: 150px;
}

#block1-spot1 {
    top: 543px;
    left: 440px;
}

#block1-spot2 {
    top: 460px;
    left: 440px;
}

#block1-spot3 {
    top: 380px;
    left: 440px;
}

#block1-spot4 {
    top: 298px;
    left: 440px;
}

#block1-spot5 {
    top: 220px;
    left: 440px;
}

#block1-spot6 {
    top: 220px;
    left: 240px;
}

#block1-spot7 {
    top: 298px;
    left: 240px;
}

#block1-spot8 {
    top: 378px;
    left: 240px;
}

#block1-spot9 {
    top: 460px;
    left: 240px;
}

#block1-spot10 {
    top: 543px;
    left: 240px;
}

#block1-spot11 {
    top: 540px;
    left: 40px;
}

#block1-spot12 {
    top: 460px;
    left: 40px;
}

#block1-spot13 {
    top: 380px;
    left: 40px;
}

#block1-spot14 {
    top: 298px;
    left: 40px;
}

#block1-spot15 {
    top: 217px;
    left: 40px;
}

#block2-spot1 {
    top: 798px;
    left: 890px;
}

#block2-spot2 {
    top: 878px;
    left: 890px;
}

#block2-spot3 {
    top: 957px;
    left: 890px;
}

#block2-spot4 {
    top: 1032px;
    left: 890px;
}

#block2-spot5 {
    top: 1030px;
    left: 625px;
}

#block2-spot6 {
    top: 950px;
    left: 625px;
}

#block2-spot7 {
    top: 871px;
    left: 625px;
}

#front-inge {
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 130px;
    padding-left: 30px;
    top: 100px;
    left: 50px;
    height: 550px;
    width: 600px;
}

#right-inge {
    color: white;
    font-size: 70px;
    padding-top: 70px;
    padding-left: 150px;
    top: 700px;
    left: 620px;
    height: 400px;
    width: 400px;
}

.full {
    background-color: rgba(255, 0, 0, 0.4);
}

.medium {
    background-color: rgba(255, 255, 0, 0.4);
}

.empty {
    background-color: rgba(0, 255, 0, 0.4);
}
