.spot
{
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 130px;
    padding-left: 30px;
    height: 70px;
    width: 150px;
}

#block1-spot1 {
    top: 563px;
    left: 440px;
}

#block1-spot2 {
    top: 480px;
    left: 440px;
}

#block1-spot3 {
    top: 400px;
    left: 440px;
}

#block1-spot4 {
    top: 318px;
    left: 440px;
}

#block1-spot5 {
    top: 240px;
    left: 440px;
}

#block1-spot6 {
    top: 240px;
    left: 240px;
}

#block1-spot7 {
    top: 318px;
    left: 240px;
}

#block1-spot8 {
    top: 398px;
    left: 240px;
}

#block1-spot9 {
    top: 480px;
    left: 240px;
}

#block1-spot10 {
    top: 573px;
    left: 240px;
}

#block1-spot11 {
    top: 560px;
    left: 40px;
}

#block1-spot12 {
    top: 480px;
    left: 40px;
}

#block1-spot13 {
    top: 400px;
    left: 40px;
}

#block1-spot14 {
    top: 318px;
    left: 40px;
}

#block1-spot15 {
    top: 237px;
    left: 40px;
}

#block2-spot1 {
    top: 818px;
    left: 890px;
}

#block2-spot2 {
    top: 898px;
    left: 890px;
}

#block2-spot3 {
    top: 977px;
    left: 890px;
}

#block2-spot4 {
    top: 1052px;
    left: 890px;
}

#block2-spot5 {
    top: 1050px;
    left: 625px;
}

#block2-spot6 {
    top: 970px;
    left: 625px;
}

#block2-spot7 {
    top: 891px;
    left: 625px;
}

#front-inge {
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 130px;
    padding-left: 30px;
    top: 100px;
    left: 50px;
    height: 550px;
    width: 600px;
}

#right-inge {
    color: white;
    font-size: 70px;
    padding-top: 70px;
    padding-left: 150px;
    top: 700px;
    left: 620px;
    height: 400px;
    width: 400px;
}

.full {
    background-color: rgba(255, 0, 0, 0.4);
}

.medium {
    background-color: rgba(255, 255, 0, 0.4);
}

.empty {
    background-color: rgba(0, 255, 0, 0.4);
}
