#front-inge {
    background-color: rgba(0, 255, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 130px;
    padding-left: 30px;
    top: 100px;
    left: 50px;
    height: 550px;
    width: 600px;
}

#right-inge {
    background-color: rgba(255, 255, 0, 0.5);
    color: white;
    font-size: 70px;
    padding-top: 70px;
    padding-left: 150px;
    top: 700px;
    left: 650px;
    height: 400px;
    width: 400px;
}

#front-arqui {
    background-color: rgba(255, 255, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 130px;
    padding-left: 30px;
    top: 100px;
    left: 50px;
    height: 550px;
    width: 600px;
}

#right-arqui {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    font-size: 70px;
    padding-top: 70px;
    padding-left: 150px;
    top: 700px;
    left: 650px;
    height: 400px;
    width: 400px;
}

#front-econ {
    background-color: rgba(0, 255, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 130px;
    padding-left: 30px;
    top: 100px;
    left: 50px;
    height: 550px;
    width: 600px;
}

#right-econ {
    background-color: rgba(0, 255, 0, 0.5);
    color: white;
    font-size: 70px;
    padding-top: 70px;
    padding-left: 150px;
    top: 700px;
    left: 650px;
    height: 400px;
    width: 400px;
}


#front-filo {
    background-color: rgba(255, 255, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 130px;
    padding-left: 30px;
    top: 100px;
    left: 50px;
    height: 550px;
    width: 600px;
}

#right-filo {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    font-size: 70px;
    padding-top: 70px;
    padding-left: 150px;
    top: 700px;
    left: 650px;
    height: 400px;
    width: 400px;
}
